<%- include('../../partials/header') %>
  <%- include('../../partials/navbar') %>


    <div class="container">
      <hr>
      <h2>Categorias</h2>
      <a class="btn btn-dark" href="/admin/articles/new">Criar nova artigo</a>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <%- include('../../partials/footer') %>

      <script>
        function confirmDeletion(event, form) {
          event.preventDefault();
          let decision = confirm("Você quer deletar está categoria?")
          if (decision) {
            form.submit();
          }
        }
      </script>