<%- include('../../partials/header') %>
  <%- include('../../partials/navbar') %>

    <div class="container">
      <hr>
      <div class="card">
        <div class="card-header">
          <h2>Novo artigo</h2>
        </div>
        <div class="card-body">
          <form method="POST" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Defina o título da artigo"><br>
            <textarea class="form-control" type="text" name="body" placeholder="Escreva o artigo aqui!" id="article"></textarea><br>
            <button class="btn btn-success">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('../../partials/footer') %>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
      <script src="/tinymce/tinymce.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

      <script>
       tinymce.init({
                selector: "#article",
                plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ]
            })
      </script>