<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/">
      <img src="/img/guia.png">
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a style="color: white;" href="/admin/categories">Categorias</a>
    </li>
  </ul>
</nav>