<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/" style="color: white;">
    GuiaPress
</a>
 
<ul class="navbar-nav mr-auto">

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opções
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="nav-link" style="color: black;" href="/admin/config">Geral</a>
            <a class="nav-link" style="color: black;" href="/admin/articles">Artigos</a>
            <a class="nav-link" style="color: black;" href="/admin/categories">Categorias</a>
            <a class="nav-link" style="color: black;" href="/admin/users">Usuários</a>
        </div>
      </div>
        
</ul>
<ul class="navbar-nav ml-auto ">
    <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/logout">Sair</a>
    </li>
</ul>
</nav>